<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{title}} </h1>
  <h3>{{subTitle}}</h3>

  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">FAMILIA</a>
    <!--A routerLink attribute is set to "/heroes", the string that the router matches to the route to HeroesComponent. The routerLink is
     the selector for the RouterLink directive that turns user clicks into router navigations. It's another of the public directives in the
     RouterModule.-->
  </nav>
  <router-outlet></router-outlet><!--The RouterOutlet is one of the
    router directives that became available to the AppComponent because AppModule imports AppRoutingModule which exported RouterModule.-->
  <app-messages></app-messages>
