<h2>Miembros de la Familia Tabares</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" >
    <!--ngFor Angular repeater diretive repeats the host element for each element in a list
  hero will be the new item iterated and heroes is the list-->
  <a routerLink="/detail/{{hero.id}}">
    <!--wrap the badge and name in an anchor element (<a>), and add a routerLink attribute to the anchor that is the same as in the dashboard template-->
    <span class="badge">{{hero.id}} </span> {{hero.name}}
  </a>
  </li>
</ul>
